<a href="https://colab.research.google.com/github/maniatisni/Airplanes/blob/main/airplanes_ouiiiii.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Download Dataset

In [ ]:
!wget https://raw.githubusercontent.com/maniatisni/Airplanes/main/Airplane_Crashes_and_Fatalities_Since_1908.csv

--2021-08-01 14:19:25--  https://raw.githubusercontent.com/maniatisni/Airplanes/main/Airplane_Crashes_and_Fatalities_Since_1908.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.108.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1595468 (1.5M) [text/plain]
Saving to: ‘Airplane_Crashes_and_Fatalities_Since_1908.csv’

Airplane_Crashes_an 100%[===================>]   1.52M  --.-KB/s    in 0.08s

2021-08-01 14:19:26 (18.7 MB/s) - ‘Airplane_Crashes_and_Fatalities_Since_1908.csv’ saved [1595468/1595468]

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [145]:
data = pd.read_csv("Airplane_Crashes_and_Fatalities_Since_1908.csv")
# Split Date into Month-Day-Year
data = data.join(data.Date.str.split(pat="/",expand=True)).rename(columns={0:"Month",1:"Day",2:"Year"})

# Split Time into Hours and Minutes
data = data.join(data.Time.str.split(pat=":",expand=True)).rename(columns={0:"Hour",1:"Minute"})

# Drop unecessary columns
data = data.drop(columns=['Flight #','Route','Registration','cn/In',2])

# Remove Hour rows not in the XX format.
data['Hour'] = data['Hour'].str.extract('(^\d{2}$)')
data.dropna(subset = ["Hour"], inplace=True)

In [170]:
data['Hour'] = data['Hour'].astype(int)
data['Day'] = data['Day'].astype(int)
data['Month'] = data['Month'].astype(int)

In [171]:
# I map Days/Hours/Month on a circle in order to represent the cyclical nature
# of the data and the fact that the 12th month has the same distance from
# month 1 and month 11. Same applies to hours and weekdays.
# Days of the week
data['Day_sin'] = np.sin((data.Day)*(2.*np.pi/7))
data['Day_cos'] = np.cos((data.Day)*(2.*np.pi/7))
# Hours
data['Hour_sin'] = np.sin(data.Hour*(2.*np.pi/24))
data['Hour_cos'] = np.cos(data.Hour*(2.*np.pi/24))
# Months - Since months in pandas begin from 1 and not 0
# I do "Month-1" in order to start counting from 0
data['Month_sin'] = np.sin((data.Month-1)*(2.*np.pi/12))
data['Month_cos'] = np.cos((data.Month-1)*(2.*np.pi/12))

In [172]:
data

            Date   Time  ...     Month_sin     Month_cos
0     09/17/1908  17:18  ... -8.660254e-01 -5.000000e-01
1     07/12/1912  06:30  ...  1.224647e-16 -1.000000e+00
3     09/09/1913  18:30  ... -8.660254e-01 -5.000000e-01
4     10/17/1913  10:30  ... -1.000000e+00 -1.836970e-16
5     03/05/1915  01:00  ...  8.660254e-01  5.000000e-01
...          ...    ...  ...           ...           ...
5261  04/29/2009  06:00  ...  1.000000e+00  6.123234e-17
5262  05/03/2009  12:00  ...  8.660254e-01 -5.000000e-01
5263  05/20/2009  06:30  ...  8.660254e-01 -5.000000e-01
5265  06/01/2009  00:15  ...  5.000000e-01 -8.660254e-01
5266  06/07/2009  08:30  ...  5.000000e-01 -8.660254e-01

[3030 rows x 20 columns]